.addon-mod_url-embedded-url {
    height: 100%;
}
.videos{
   position: relative;
    video{
      height: 220px;
    }
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 40px;
        transform: translate(-50%,-50%);
        z-index: 9999;
    }
}