.addon-mod_url-embedded-url {
    height: 100%;
}
.videos{
    width: 100%;
    background-color: #000;
    position: relative;
    z-index: 0;
    video{
        position: relative;
        z-index: 999;
    }
}